/* HEADER */
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: url(/images/bg-header-desktop.png);
}

/* BUTTONS */
#container-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.btn {
    flex-shrink: 0;
    width: 200px;
    height: 45px;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
}

.btn:nth-of-type(1) {
    transition-duration: 500ms;
    box-shadow: 2px 2px 0px 1px hsl(171, 66%, 45%, 0.7);
}

.btn:nth-of-type(2) {
    transition-duration: 500ms;
    box-shadow: 2px 2px 0px 1px hsla(233, 100%, 45%, 0.7);
}

.btn:nth-of-type(1):hover {
    background-color: hsl(171, 66%, 65%);
}

.btn:nth-of-type(2):hover {
    background-color: hsl(233, 100%, 55%);
}

/* SECTION COMPUTER */
#section-computer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

/* SECTION COMPUTER INFO */
#section-computer_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

/* SECTION 3 COL*/
#section-3col {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}